.git
.github
.env
.env.*
!.env.example
!deploy/production.env.example

node_modules
**/node_modules
dist
**/dist

backups
ic_database
**/*.sqlite
**/*.sqlite-*
**/*.db
**/*.csv
**/*.pdf

*.log
*.err.log
backend-*.log
backend-*.err.log
frontend-*.log
frontend-*.err.log

.DS_Store
Thumbs.db
npm-debug.log*
